[submodule "third_party/backtesting"]
	path = third_party/backtesting
	url = https://github.com/kernc/backtesting.py.git
[submodule "third_party/openbb"]
	path = third_party/openbb
	url = https://github.com/OpenBB-finance/OpenBB.git
